# Ignore everything
*

# But not these files...
!/.github/**
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE.md

!default.nix
!flake.nix
!flake.lock
!.goreleaser.yaml

# ...even if they are in subdirectories
!*/
